/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vh; */
  /* height: 100vh; */
}
.card {
  margin: 0 auto; /* Centers horizontally */
  width: 500px; /* Adjust width as needed */
  border: 1px solid #ddd;
  padding: 20px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 1px solid black;
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  font-size: 48px;
  text-align: center;
  line-height: 100px;
}
/* Style the bottom section */
.bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

/* Style the inputs and labels */
label {
  display: block;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}
